<div class="containerPass">
    <div class="localPass">
        <h4>Conclua sua conta de bibliotecário</h4>
        <form action="" method="post">
            <div class="local-input">
                <label for="password">Sua senha de acesso: </label>
                <input placeholder="Informe uma senha" type="password" name="password" id="password">
            </div>
            <div class="local-input">
                <label for="password">Repita a senha de acesso: </label>
                <input placeholder="Repita a senha" type="password" name="passwordR" id="password">
            </div>
            <button type="submit" class="btn-entrar">Definir</button>
        </form>
    </div>
</div>