<div class="content-cabecalho">
    <div class="cabecalho-esquerda">
        <a href="/home">
            <div class="logo"><img src="/assets/images/icon.jpg" alt="">
        </a>
        {{#if (eq user.role "admin")}}
            <span class="text">Você é um administrador!</span>
        {{/if}}
        {{#if (eq user.role "bibliotecary")}}
            <span class="text">Você é Bibliotecário(a)!</span>
        {{/if}}
    </div>
</div>
{{#if (eq user.role "bibliotecary")}}
    <div class="search-container">
        <input type="text" id="searchInput" class="search-bar" placeholder="Pesquisar Livros...">
        <button class="btn-entrar">Adicionar Livros *Sem funcionalidade</button>
        <button class="btn-entrar">Editar *Sem funcionalidade</button>
        <button class="btn-entrar detailBtn" onclick="buscarLivros()">Buscar</button>
    </div>
{{/if}}
</div>
<p>
<div class="content-box">

    {{#if (eq user.role "bibliotecary")}}
        <h3>Bem vindo(a), {{user.name}}!</h3>
    {{/if}}

    {{#if (eq user.role "admin")}}
        <div class="form-area">
            <h3>Bem vindo(a), {{user.username}}! Adicione um novo bibliotecário!</h3>
            <form action="/admin/addBibliotecary" method="post">
                <div class="local-input">
                    <label for="emailBibliotecary">Nome</label>
                    <input type="text" placeholder="Nome do bibliotecário..." name="bname">
                </div>
                <div class="local-input">
                    <label for="emailBibliotecary">E-mail</label>
                    <input type="email" placeholder="E-mail do bibliotecário..." name="bemail">
                </div>
                <div class="local-input">
                    <label for="cpfBibliotecary">CPF</label>
                    <input type="text" placeholder="xxx.xxx.xxx-xx" name="bcpf">
                </div>
                <button type="submit" class="btn-entrar detailBtn">Adicionar</button>
            </form>
        </div>
        <hr>
        <div class="blist">
            {{#each bibliotecary}}
            
            {{else}}
                <div class="contet">
                    <h3>Lista de bibliotecarios no sistema:</h3>
                    <h5>Nenhum bibliotecário cadastrado!</h5>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <div class="result" id="resultContainer"></div>
    {{!-- <div class="livro">
        <img src="/assets/images/harryPotter.jpg" alt="Capa do Livro 1" class="capa-livro">
        <h2 class="titulo-livro">Harry Potter e a Pedra Filosofal</h2>
    </div>
    <div class="livro">
        <img src="/assets/images/lembre.jpg" alt="Capa do Livro 2" class="capa-livro">
        <h2 class="titulo-livro">Lembre-se de Nós</h2>
    </div>
    <div class="livro">
        <img src="/assets/images/mentes.jpg" alt="Capa do Livro 3" class="capa-livro">
        <h2 class="titulo-livro">Mentes Extraodinárias</h2>
    </div>
    <div class="livro">
        <img src="/assets/images/amorte.jpg" alt="Capa do Livro 3" class="capa-livro">
        <h2 class="titulo-livro">A Morte é um Dia que Vale a Pena Viver</h2>
    </div>
    <div class="livro">
        <img src="/assets/images/ahip.jpg" alt="Capa do Livro 3" class="capa-livro">
        <h2 class="titulo-livro">A Hipótese do Amor</h2>
    </div>
    <div class="livro">
        <img src="/assets/images/garota.jpg" alt="Capa do Livro 3" class="capa-livro">
        <h2 class="titulo-livro">A Garota do Lago</h2>
    </div> --}}
</div>