<div class="container">
        <div class="login-box">
            <div class="logo">
                <a href="/">
                <img src="/assets/images/icon.jpg" alt="Ícone do livro">
            </a>
            </div>
            <form method="post" action="/user/register">
                <div class="local-input">
                    <label for="usuario">Nome do usuário</label>
                    <input type="text" id="usuario" required name="username" placeholder="Digite seu usuário">
                </div>

                <div class="local-input">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" required name="email" placeholder="Digite seu E-mail">
                </div>
                
                <div class="local-input">
                    <label for="CPF">CPF</label>
                    <input type="text" id="CPF" required name="cpf" placeholder="Digite seu CPF">
                </div>

                <div class="local-input">
                    <label for="senha">Crie sua senha</label>
                    <input type="password" required name="password" id="senha" placeholder="Digite sua senha">
                </div>

                <div class="local-input">
                    <label for="confirSenha">Repita a senha</label>
                    <input type="password" required name="passwordReap" placeholder="Repita a senha...">
                </div>
                
                <button id="btnCadastrar" type="submit" class="btn-cadastrar">Salvar</button>
            </form>
        </div>
    </div>